<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
  </head>
  <header><%- include('./components/header') %></header>
  <body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

    <%- include('./components/carrossel') %>

    <div class="p-5 mx-auto max-w-screen-xl">
      <h2 class="font-bold uppercase text-xl pb-4"><%= titulo %></h2>
     
      <div class="grid grid-flow-row-dense grid-cols-2 gap-3 justify-between sm:grid-cols-3 md:grid-cols-4">
        <% for(veiculo of data) { %>
    
        <div class="card-body" style="width: 18rem">
          <a href="/veiculo/<%= veiculo.id %>">
         <img class="border border-yellow-700 border-solid w-full hover:border-yellow-500" style="height: 25vh;" alt="Best seller" 
         src="<%= replaceStoragePath(veiculo.fotoDestaque) %>" loading="lazy" />
         <h2 class="pt-2 m-0 leading-4 font-semibold"> <%= `${veiculo.modelo}` %></h2>
         <h3 class="card-title"><%= veiculo.marca.marca %></h3>
         <h4 class="text-dark"><%= formatMoney(veiculo.valor) %></h4>
         </a>
       </div>
        <% } %>
        
     </div>

    <footer class="bg-light fixed-bottom">
      <%- include('./components/footer') %>
    </footer>
  </body>
</html>
